/*variables Globales*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap");
* {
  margin: 0;
  padding: 0; }

/*Variables Globales*/
/*Secciones*/
* {
  margin: auto;
  padding: inherit;
  font-family: 'Montserrat', sans-serif; }

/*:::::Header*/
.header {
  background: #81a352;
  background: linear-gradient(90deg, #81a352 0%, #676f4d 99%);
  background: -moz-linear-gradient(90deg, #81a352 0%, #676f4d 99%);
  background: -webkit-linear-gradient(90deg, #81a352 0%, #676f4d 99%);
  display: flex;
  align-items: center; }

.img-logo {
  width: 100px; }

.navbar {
  background: #81a352;
  background: linear-gradient(90deg, #81a352 0%, #676f4d 99%);
  background: -moz-linear-gradient(90deg, #81a352 0%, #676f4d 99%);
  background: -webkit-linear-gradient(90deg, #81a352 0%, #676f4d 99%); }

.navbar-nav a:hover {
  background: #8BA975; }

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box; }

/*:::::Pie de Pagina*/
.footer {
  width: 100%;
  background-color: #676f4d; }

.footer .grupo1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px; }

.footer .grupo1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.footer .grupo1 .box figure img {
  width: 40px;
  border-radius: 10px; }

.footer .grupo1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px; }

.footer .grupo1 .box p {
  color: #efefef;
  margin-bottom: 10px; }

.footer .grupo1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #676f4d;
  text-align: center;
  transition: all 300ms ease; }

.red-social img {
  width: 40px;
  height: 40px;
  display: inline-block;
  flex-direction: column; }

.footer .grupo1 .red-social a:hover {
  color: aqua; }

.footer .grupo2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff; }

.footer .grupo2 small {
  font-size: 15px; }

@media screen and (max-width: 800px) {
  .footer .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }

.fa-regular fa-location-dot {
  font-size: 20px; }

/*:::::Main-index*/
.presentacion {
  background: #81a352;
  background: radial-gradient(circle, #abce7a 0%, black 100%);
  background: -moz-radial-gradient(circle, #81a352 0%, black 100%);
  background: -webkit-radial-gradient(circle, #81a352 0%, black 100%);
  color: white;
  text-align: center;
  padding: 10px; }

.producto {
  width: 50vw;
  text-align: center;
  margin: .5rem;
  width: 90%; }

.prod-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #81a352;
  background: radial-gradient(circle, #abce7a 0%, black 100%);
  background: -moz-radial-gradient(circle, #81a352 0%, black 100%);
  background: -webkit-radial-gradient(circle, #81a352 0%, black 100%);
  color: white;
  text-align: center;
  padding: 10px; }

.producto img {
  width: 50%; }

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold; }

/*:::::Main-nosotros*/
.nosotros__main {
  background: #81a352;
  background: radial-gradient(circle, #abce7a 0%, black 100%);
  background: -moz-radial-gradient(circle, #81a352 0%, black 100%);
  background: -webkit-radial-gradient(circle, #81a352 0%, black 100%); }

.nosotros__main--foto {
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px; }

.nosotros__main {
  margin: auto;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); }

.nosotros__main img {
  max-width: 70%;
  height: auto;
  background-color: #81a352;
  border-radius: 8px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175); }

@media screen and (max-width: 1150px) {
  .nosotros .nosotros-foto {
    max-width: 85%; } }

@media screen and (max-width: 642px) {
  .nosotros__main {
    width: 100%;
    margin: auto;
    background-size: 100vw; }
  .nosotros__main--foto {
    margin: 30px;
    margin: auto; } }

@media screen and (max-width: 458px) {
  .nosotros__main {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); }
  .nosotros .nosotros-foto {
    max-width: 95%; }
  .nosotros__main--foto {
    margin: 30px; } }

.nosotros__mainParrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  margin: 30px;
  text-align: center;
  background-color: #81a352;
  border-radius: 10px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175); }

.nosotros__mainParrafo h1 {
  color: white;
  font-weight: bold; }

.nosotros__mainParrafo p {
  font-size: 15px;
  color: white;
  padding: 5px;
  margin: 5px; }

@media (max-width: 458px) {
  .nosotros__mainParrafo p {
    font-size: 13px; } }

.top-section {
  text-align: center;
  padding: 4rem 0;
  max-width: 600px;
  margin: 0 auto; }

/*:::::Main-galeria*/
.main-galeria {
  background-color: #283618; }

.gallery {
  --s: 150px;
  --g: 10px;
  --f: 1.5;
  display: grid;
  gap: var(--g);
  width: calc(3*var(--s) + 2*var(--g));
  aspect-ratio: 1;
  grid-template-columns: repeat(3, auto);
  background-color: #283618; }

.gallery {
  --n: 3;
  --m: 4;
  --s: 150px;
  --f: 1.5;
  display: grid;
  gap: var(--g);
  width: calc(var(--m)*var(--s) + (var(--m) - 1)*var(--g));
  height: calc(var(--n)*var(--s) + (var(--n) - 1)*var(--g));
  grid-template-columns: repeat(var(--m), auto); }

.gallery > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(80%);
  transition: .35s linear; }

.gallery img:hover {
  filter: grayscale(0);
  width: calc(var(--s)*var(--f));
  height: calc(var(--s)*var(--f)); }

.body-galeria {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #283618; }

/* Media queries */
@media screen and (max-width: 767px) {
  .gallery {
    --s: 100px;
    --g: 5px;
    --f: 1.2;
    width: calc(2*var(--s) + var(--g));
    grid-template-columns: repeat(2, auto); } }

/*:::::Main-contacto*/
.main-contacto {
  background: #81a352;
  background: radial-gradient(circle, #abce7a 0%, black 100%);
  background: -moz-radial-gradient(circle, #81a352 0%, black 100%);
  background: -webkit-radial-gradient(circle, #81a352 0%, black 100%);
  color: white;
  text-align: center;
  padding: 10px;
  background-size: 100vw; }

.form {
  width: 450px;
  margin: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px; }

.contacto {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px; }

.input {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px; }

.textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  min-height: 100px;
  max-height: 300px;
  max-width: 300px; }

.boton {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  background-color: #324913;
  color: #fff;
  padding: 20px; }

.boton :hover {
  cursor: pointer; }

@media (max-width: 480px) {
  .form {
    width: 100%; } }

/*:::::Main-servicios inicio*/
.main-servicios {
  background-color: #283618;
  text-align: center;
  color: white !important;
  margin: 0px 0;
  padding: 20px; }

.experience-slide-text p {
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-top: 2.5rem; }

.grilla_servicios {
  padding: 0px 0px; }

.carousel {
  position: relative; }

.carousel-indicators {
  top: 50px;
  width: 90%;
  margin-left: 5%;
  position: static;
  margin-bottom: 20px; }

.experience-slide-one {
  padding: 0px 25px; }

.carousel-indicators button {
  text-indent: 0px !important;
  background: 0 0;
  border: none;
  margin: 1px !important;
  position: relative;
  width: 15vh !important; }

.carousel-inner img {
  width: 100%; }

@media screen and (max-width: 991px) {
  .carousel-inner img {
    width: 100%; } }

.carousel-indicators button:before {
  position: absolute;
  content: "";
  border-top: 1px solid #000000;
  width: 100%;
  left: 0; }

.carousel-indicators button h3 {
  margin-top: -33px;
  position: absolute;
  left: 52%;
  transform: translateX(-50%);
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold; }

.carousel-indicators button.active h3 {
  color: #dbeade;
  font-size: 30px;
  position: absolute;
  text-align: center;
  margin-top: -49px;
  font-weight: bold; }

@media (max-width: 991px) {
  .carousel-indicators button.active h3 {
    font-size: 22px;
    margin-top: -36px; }
  .carousel-indicators button h3 {
    font-size: 18px;
    margin-top: -25px; } }

@media (max-width: 767px) {
  .carousel-indicators button.active h3 {
    font-size: 16px; }
  .carousel-indicators button h3 {
    font-size: 12px; } }

@media (max-width: 500px) {
  .carousel-indicators {
    margin-left: -2.5%;
    width: 105%; } }

@media (max-width: 430px) {
  .carousel-indicators button.active h3 {
    font-size: 12px; }
  .carousel-indicators button h3 {
    font-size: 10px; } }

.experience-slide-text h4 {
  margin-bottom: 5px;
  font-size: 22px;
  color: white;
  text-align: center; }

.experience-slide-text p {
  color: white;
  font-size: 20px;
  text-align: center; }

@media (max-width: 1199px) {
  .experience-slide-text h4 {
    font-size: 21px; }
  .experience-slide-text p {
    font-size: 17px; } }

@media (max-width: 991px) {
  .experience-slide-text h4 {
    font-size: 15px; }
  .experience-slide-text p {
    font-size: 11px; } }

.carousel-control-next,
.carousel-control-prev {
  width: 2%;
  opacity: .8; }

.carousel-control-next i,
.carousel-control-prev i {
  font-size: 35px;
  color: 6c9839; }

/*:::::Main-servicios fin*/
