/*:::::Main-galeria*/
.main-servicios{
    background-color: #283618;;
}
.titulo-seccion{
    text-align: center;
    font-size: 35px;
    color: white;
    padding: 20px;
    padding-bottom: 20px;
}
.texto{
    text-align: center;
    color: white;
    margin: 20px 0;   
}
.servicios{
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.servicio {
    font-size: 20px;
    width: 10em;
    height: 10em;
    background-image: url(../../recursos/habitacionprincipal.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
}

.servicio background-image:hover{
    filter: grayscale(0);
    width:  calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));
}

