/*:::::Main-galeria*/

.main-galeria{
    background-color: #283618;
}
.gallery {
    --s: 150px; 
    --g: 10px;  
    --f: 1.5;   
    display: grid;
    gap: var(--g);
    width: calc(3*var(--s) + 2*var(--g));
    aspect-ratio: 1;
    grid-template-columns: repeat(3,auto);
    background-color: #283618;
}
.gallery {
    --n: 3;
    --m: 4; 
    --s: 150px; 
    --f: 1.5;   
    display: grid;
    gap: var(--g);
    width:  calc(var(--m)*var(--s) + (var(--m) - 1)*var(--g));
    height: calc(var(--n)*var(--s) + (var(--n) - 1)*var(--g));
    grid-template-columns: repeat(var(--m),auto);
}

.gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%);
    transition: .35s linear;
}  
.gallery img:hover{
    filter: grayscale(0);
    width:  calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));
}   
.body-galeria {
    margin: 0;
    min-height: 100vh; 
    display: grid;
    place-content: center;
    background: #283618;
}

/* Media queries */
@media screen and (max-width: 767px) {
    .gallery {
      --s: 100px;
      --g: 5px;
      --f: 1.2;
      width: calc(2*var(--s) + var(--g));
      grid-template-columns: repeat(2, auto);
    }
  }

  
  
  
  
  
  