/*Variables Globales*/

@mixin fondo {
    background: hsla(85, 33%, 48%, 1);

    background: radial-gradient(circle, rgb(171, 206, 122) 0%, hsla(0, 0%, 0%, 1) 100%);

    background: -moz-radial-gradient(circle, hsla(85, 33%, 48%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    background: -webkit-radial-gradient(circle, hsla(85, 33%, 48%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
  }
  